/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Body */
body {
  background: url('https://img.lovepik.com/bg/20240111/Vibrant-Animated-GIF-Backgrounds-Fueling-Engagement-Visual-Appeal-_2755197_wh1200.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

/* Login Container */
.login-wrapper {
  background: #fff;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0px 10px 25px rgba(0,0,0,0.2);
  width: 350px;
  text-align: center;
}

.login-container h2 {
  background: linear-gradient(90deg,#ff00ae,#00aeff);
  background-clip: text;
  -webkit-background-clip: text;
  margin-bottom: 20px;
  color: transparent;
}

/* Inputs */
.login-container input {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

/* Button */
.login-container button {
  width: 100%;
  padding: 12px;
  background: #6e8efb;
  border: none;
  color: #fff;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.login-container button:hover {
  background: #5a6ddb;
}

/* Error Message */
.error-msg {
  color: #e74c3c;
  margin-top: 10px;
  font-size: 14px;
}

