body {
    font-family: Arial, sans-serif;
    background-image: url("pexels-jplenio-1103970.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container {
    padding: 30px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }

  input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  button {
  padding: 15px;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 15px;
  border: none;
  color: rgb(15, 14, 14);
  cursor: pointer;
  background-color: #0e6c1e;
  width: 100%;
  font-size: 16px;
    
  }

  button:hover {
    background: #0d643b;
  }

  #msg {
    color: red;
    margin-top: 10px;
    font-weight: bold;
  }
  h1{
    text-align: center;
  }